<section class="about-school">
  <div class="school-motto">
    <h2>Our Motto</h2>
    <div class="header-line"></div>
    <p>"Striving for Excellence"</p>
  </div>

  <div class="school-vision">
    <h2>Our Vision</h2>
    <div class="header-line"></div>
    <p>
      To be the leading institution in empowering students through modern and innovative
      technologies.
    </p>
  </div>

  <div class="school-misson">
    <h2>Our Mission</h2>
    <div class="header-line"></div>
    <p>
      To nurture and inspire the Kenyan people by providing accessible, high-quality professional
      training.
    </p>
  </div>
</section>
