<section class="exams-section">
  <div class="container">
    <div class="exam-header">
      <h2>Recognized Exam Bodies</h2>
      <div class="header-line"></div>
      <p>
        Our courses are fully accredited, leading to certifications from internationally and
        nationally recognized bodies.
      </p>
    </div>

    <div class="exam-grid">
      <div class="exam-item">
        <div class="logo-wrapper">
          <img src="assets\knec-seeklogo.png" alt="KNEC Logo" />
        </div>
        <p>KNEC</p>
      </div>

      <div class="exam-item">
        <div class="logo-wrapper">
          <img src="assets\Kasneb-logo.jpg" alt="KASNEB Logo" />
        </div>
        <p>KASNEB</p>
      </div>

      <div class="exam-item">
        <div class="logo-wrapper">
          <img src="assets\Kasneb-logo.jpg" alt="CPA Logo" />
        </div>
        <p>CPA</p>
      </div>

      <div class="exam-item">
        <div class="logo-wrapper">
          <img src="assets\ICDL-LOGO-W-TAGLINE.png" alt="ICDL Logo" />
        </div>
        <p>ICDL</p>
      </div>
    </div>
  </div>
</section>
